USE [бегемот]
GO
/****** Object:  Table [dbo].[Должности]    Script Date: 15.09.2020 15:06:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Должности](
	[Код должности] [nchar](10) NOT NULL,
	[Наименование должности] [nvarchar](50) NULL,
	[Оклад] [money] NULL,
	[Обязанности] [nvarchar](50) NULL,
	[Требования] [nvarchar](50) NULL,
 CONSTRAINT [PK_Должности] PRIMARY KEY CLUSTERED 
(
	[Код должности] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Жанры]    Script Date: 15.09.2020 15:06:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Жанры](
	[Код жанра] [bigint] NOT NULL,
	[Наименование жанра] [nvarchar](50) NULL,
	[Описание] [nvarchar](max) NULL,
 CONSTRAINT [PK_Жанры] PRIMARY KEY CLUSTERED 
(
	[Код жанра] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Кассеты]    Script Date: 15.09.2020 15:06:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Кассеты](
	[Код кассеты] [bigint] NOT NULL,
	[Наименование фильма] [nvarchar](50) NULL,
	[Год создания] [date] NULL,
	[Производитель] [nvarchar](50) NULL,
	[Страна] [nvarchar](50) NULL,
	[Главный актер] [nvarchar](50) NULL,
	[Дата записи] [date] NULL,
	[Код жанра] [bigint] NULL,
	[Цена] [money] NULL,
 CONSTRAINT [PK_Кассеты] PRIMARY KEY CLUSTERED 
(
	[Код кассеты] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Клиенты]    Script Date: 15.09.2020 15:06:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Клиенты](
	[ФИО] [nvarchar](50) NULL,
	[Адрес] [nvarchar](50) NULL,
	[Телефон] [nvarchar](50) NULL,
	[Паспортные данные] [nvarchar](50) NULL,
	[Дата взятия] [date] NULL,
	[Дата возврата] [date] NULL,
	[Отметка об оплате] [varchar](50) NULL,
	[Отметка о возврате] [varchar](50) NULL,
	[Код кассеты 1] [bigint] NULL,
	[Код кассеты 2] [bigint] NULL,
	[Код кассеты 3] [bigint] NULL,
	[Код сотрудника] [bigint] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Сотрудники]    Script Date: 15.09.2020 15:06:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Сотрудники](
	[Код сотрудника] [bigint] NOT NULL,
	[ФИО] [nvarchar](50) NULL,
	[Возраст] [nchar](10) NULL,
	[Пол] [nchar](10) NULL,
	[Адрес] [nvarchar](50) NULL,
	[Телефон] [nvarchar](50) NULL,
	[Паспортные данные] [nvarchar](50) NULL,
	[Код должности] [bigint] NULL,
 CONSTRAINT [PK_Сотрудники] PRIMARY KEY CLUSTERED 
(
	[Код сотрудника] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[Должности] ([Код должности], [Наименование должности], [Оклад], [Обязанности], [Требования]) VALUES (N'          ', NULL, NULL, NULL, NULL)
INSERT [dbo].[Должности] ([Код должности], [Наименование должности], [Оклад], [Обязанности], [Требования]) VALUES (N'1         ', N'Продавец', 25000.0000, N'Осуществлять продажу товаров', N' Образование выше среднего, знаня в данной сфере')
INSERT [dbo].[Должности] ([Код должности], [Наименование должности], [Оклад], [Обязанности], [Требования]) VALUES (N'2         ', N'Мерчендайзер', 30000.0000, N'Оофрмление и чёткая организация витрин', N'Высшее образование, знания в сфере')
INSERT [dbo].[Жанры] ([Код жанра], [Наименование жанра], [Описание]) VALUES (1, N'Боевик', N'Кровь, война, убийство, взрывы')
INSERT [dbo].[Жанры] ([Код жанра], [Наименование жанра], [Описание]) VALUES (2, N'Фантастика', N'нереальное, непонятное, вымысел')
INSERT [dbo].[Жанры] ([Код жанра], [Наименование жанра], [Описание]) VALUES (3, N'Ужасы', N'Страх, скримеры, испуг')
INSERT [dbo].[Кассеты] ([Код кассеты], [Наименование фильма], [Год создания], [Производитель], [Страна], [Главный актер], [Дата записи], [Код жанра], [Цена]) VALUES (1, N'Мама', CAST(N'1998-05-21' AS Date), N'фу', N'США', N'Ирина Алексеевна', CAST(N'2001-09-26' AS Date), 3, 500.0000)
INSERT [dbo].[Кассеты] ([Код кассеты], [Наименование фильма], [Год создания], [Производитель], [Страна], [Главный актер], [Дата записи], [Код жанра], [Цена]) VALUES (2, N'Городец', CAST(N'0852-01-01' AS Date), N'Долгорукий', N'Русь', N'Анна Павловна', CAST(N'0853-02-02' AS Date), 4, 300.0000)
INSERT [dbo].[Кассеты] ([Код кассеты], [Наименование фильма], [Год создания], [Производитель], [Страна], [Главный актер], [Дата записи], [Код жанра], [Цена]) VALUES (3, N'Маша', CAST(N'2003-07-13' AS Date), N'Светлана и Владимир', N'Россия', N'Чижова Маша', CAST(N'2002-12-10' AS Date), 4, 700.0000)
INSERT [dbo].[Клиенты] ([ФИО], [Адрес], [Телефон], [Паспортные данные], [Дата взятия], [Дата возврата], [Отметка об оплате], [Отметка о возврате], [Код кассеты 1], [Код кассеты 2], [Код кассеты 3], [Код сотрудника]) VALUES (N'Чижова Мария Владимировна', N'ул. Яблокова д.5', N'89105676789', N'21 17 348756', CAST(N'2003-07-31' AS Date), CAST(N'2020-09-07' AS Date), N'ок', N'ок', 1, 2, 3, 1)
INSERT [dbo].[Клиенты] ([ФИО], [Адрес], [Телефон], [Паспортные данные], [Дата взятия], [Дата возврата], [Отметка об оплате], [Отметка о возврате], [Код кассеты 1], [Код кассеты 2], [Код кассеты 3], [Код сотрудника]) VALUES (N'Молчанова Дарья Дмитриевна', N'ул. Вишнева д.6', N'89523450986', N'22 17 984582', CAST(N'2001-09-04' AS Date), CAST(N'2020-10-10' AS Date), N'ок', N'ок', 1, 2, 3, 1)
INSERT [dbo].[Клиенты] ([ФИО], [Адрес], [Телефон], [Паспортные данные], [Дата взятия], [Дата возврата], [Отметка об оплате], [Отметка о возврате], [Код кассеты 1], [Код кассеты 2], [Код кассеты 3], [Код сотрудника]) VALUES (N'Самарин Семен Павлович', N'ул. Арбузная д.22', N'89057389054', N'16 18 980218', CAST(N'2012-12-03' AS Date), CAST(N'2020-12-12' AS Date), N'ок', N'ок', 1, 2, 3, 5)
INSERT [dbo].[Сотрудники] ([Код сотрудника], [ФИО], [Возраст], [Пол], [Адрес], [Телефон], [Паспортные данные], [Код должности]) VALUES (1, N'Инарёв Игорь Владимирович', N'45        ', N'М         ', N'ул.Дубровского д .5', N'89165435892', N'45 67 987123', 3)
INSERT [dbo].[Сотрудники] ([Код сотрудника], [ФИО], [Возраст], [Пол], [Адрес], [Телефон], [Паспортные данные], [Код должности]) VALUES (2, N'Вереева Ирина Владимировна', N'32        ', N'Ж         ', N'ул.Жилевская д.23', N'89454825962', N'54 67 537485', 4)
INSERT [dbo].[Сотрудники] ([Код сотрудника], [ФИО], [Возраст], [Пол], [Адрес], [Телефон], [Паспортные данные], [Код должности]) VALUES (3, N'Константинов Уонстантин Константинович', N'24        ', N'М         ', N'ул.Жилевская д.4', N'89147264512', N'45 65 987345', 2)
